*,
*::before,
::after {
  word-wrap: unset !important;
}
.Landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}
.Loader {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-align: center;
  font-size: 4rem;
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: white;
  border-radius: 0;
  border: 2px solid red;
  transition: all 1.2s ease-in-out;
}

.BlueSlider {
  width: 100%;
  height: 190%;
  position: relative;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, white 25%, #253069 25%);
  opacity: 1;
  transition: ease-in all 0.4s;
  z-index: 2;
}

.Background {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-attachment: fixed;
}

.MainContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 10;
  margin: 30px auto;
}
nav {
  box-sizing: content-box;
  margin: 5px 10px;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: 900;
  z-index: 11;
}

.Projects {
  /* width: 20%; */
  position: relative;
  /* overflow: hidden; */
}
h4 {
  text-transform: uppercase;
  font-weight: 100 !important;
  font-family: "Montserrat", "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background: linear-gradient(to right, #253069 50%, white 50%);
  color: transparent;
  background-clip: text;
}

.Headline {
  text-transform: uppercase;
  font-family: "Montserrat", "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 100 !important;
  position: absolute;
  direction: rtl;
  right: 0;
  color: white;
  width: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out !important;
}

.red {
  background: red;
  border-radius: 100%;
  border: red;
  color: white;
  width: 50px;
  height: 50px;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  justify-content: center;
}

footer {
  transform: rotate(-90deg);
  overflow: hidden;
  position: absolute;
  left: 2vw;
  bottom: 30vh;
  transition: all 0.2s ease-in-out;
  height: 3.5vw;
}
.Footer {
  top: 0;
  margin-bottom: 0;
  color: #253069;
  transition: all 0.2s ease-in-out;
}
.Footer2 {
  transition: all 0.2s ease-in-out;
  color: white;
  /* top:3.5vw; */
}
.Pencil > img {
  width: 3em;
  height: 3em;
}
.Pencil {
  background-color: red;
  border-radius: 50%;
  width: 3em;
  text-align: center;
  height: 3em;
  padding: 0.7rem;
  position: absolute;
  margin-left: 92vw;
  margin-top: 75vh;
  margin-right: 10px;
}
