:root {
  --height: "";
}
body {
  overflow-x: hidden;
}
.Landing {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  /* overflow: scroll; */
  overflow-x: hidden;
}
.Loader {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-align: center;
  font-size: 4rem;
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: white;
  border-radius: 0;
  border: 2px solid red;
  transition: all 1.2s ease-in-out;
}

.BlueSlider {
  width: 100%;
  /* height: 160%; */
  position: relative;
  padding-bottom: 1vh;
  background-size: 200% 100%;
  /* background-image: linear-gradient(to right, white 25%, #a30d0d 25%); */
  background-image: linear-gradient(to right, white 75%, #a30d0d 25%);
  opacity: 1;
  transition: ease-in all 0.4s;
  /* z-index: 2; */
}

.Background1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-attachment: fixed;
}

.MainContainer {
  width: 100%;
  /* height: 100%; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-git ;
  align-items: center;
  top: 0;
  z-index: 8;
  margin: 30px auto;
}
nav {
  margin: auto;
  box-sizing: b-box;
  /* margin: 5px 10px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  /* color: white;
  font-weight: 900; */
  z-index: 11;
}

.Projects {
  /* width: 20%; */
  position: relative;
  /* overflow: hidden; */
}

h4 {
  text-transform: uppercase;
  font-weight: 100 !important;
  font-family: "Montserrat", "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 1.6rem !important;
  background: linear-gradient(to right, #a30d0d 50%, white 50%);
  color: transparent;
  background-clip: text;
}

.Headline {
  text-transform: uppercase;
  font-family: "Montserrat", "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 1.6rem !important;
  font-weight: 100 !important;
  position: absolute;
  direction: rtl;
  right: 0;
  color: white;
  width: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out !important;
}

.red {
  background: red;
  border-radius: 100%;
  border: red;
  color: white;
  width: 50px;
  height: 50px;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  justify-content: center;
}
