.roadContainer {
  position: absolute;
  mix-blend-mode: lighten;
  bottom: 0;
  width: 100%;
}

.road {
  height: 200vh;
  width: 100%;
  overflow-x: scroll;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.road p {
  white-space: nowrap;
  display: inline;
}
