.bgSpinner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
#spinnerdiv {
  margin: 15%;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  left: 25vw;
  height: 30vh;
  width: 50vw;
}
#wrapD3Cube {
  /* width: 250px; */
  /* height: 213px; */
}

#spinner_txt {
  letter-spacing: 15px;
  font-size: 2.5ch;
  white-space: nowrap;
  color: white;
  margin-left: 15px;
  margin-top: 100px;
}

#D3Cube {
  width: 112px;
  height: 112px;
  top: 50px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: cubeRotation 3.5s infinite; /* Safari 4.0 - 8.0 */
  animation: cubeRotation 3.5s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes cubeRotation {
  0% {
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
  }
}
/* Standard syntax */
@keyframes cubeRotation {
  0% {
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
  }
}
#side2,
#side3,
#side4,
#side5 {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 112px;
  height: 112px;
  float: left;
  overflow: hidden;
  opacity: 100;
  border: 0px;
  box-shadow: 0px -2px 20px 2px red;
  /* box-shadow: 0px 0px 20px 6px red; */
}

#main1 {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background-color: #2c2f2d;
  margin-top: 8px;
  margin-left: 8px;
  border: 2px solid red;
}

#sidediv1 {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100px;
  height: 7px;
  transform: rotate(45deg) scaleX(1.8);
  background-color: #2c2f2d;
}

#main2,
#main3,
#main4,
#main5 {
  position: absolute;
  background-color: black;
  margin-top: 4%;
  width: 90%;
  height: 90%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 25%,
    30% 25%,
    30% 75%,
    100% 75%,
    100% 100%,
    0 100%
  );
  margin-left: 3%;
  border: 2px solid red;
}

#sidediv2,
#sidediv3,
#sidediv4,
#sidediv5 {
  position: absolute;
  background-color: #2c2f2d;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  top: 27%;
  width: 64%;
  height: 48%;
  left: 31%;
  box-shadow: inset 8px 0px 20px 0px red;
}

#side1 {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 112px;
  height: 112px;
  float: left;
  overflow: hidden;
  opacity: 100;
  border: 0px;
  transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotatex(90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  background-color: black;
}

#side2 {
  transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  background-color: #2c2f2d;
}
#side3 {
  transform: translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: translateX(0px) translateY(0px) translateZ(56px);
  -webkit-transform: translateX(0px) translateY(0px) translateZ(56px);
  background-color: #2c2f2d;
}
#side4 {
  transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateY(90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  background-color: #2c2f2d;
}
#side5 {
  transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateY(180deg) translateX(0px) translateY(0px)
    translateZ(56px);
  -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px)
    translateZ(56px);
  background-color: #2c2f2d;
}
#side6 {
  transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(56px);
  -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px)
    translateZ(56px);
  background-color: #2c2f2d;
}

#loader {
  text-decoration: none;
  width: 300px;
  display: block;
  text-align: center;
  padding: 5px;
  position: relative;
  color: black;
  font-family: arial;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 10px;
}

#loader:before {
  content: " ";
  height: 3px;
  width: 0;
  display: block;
  transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: makeline1 1.7s infinite 1s;
  box-shadow: 0px 0px 10px 2px red;
}

@keyframes makeline1 {
  0% {
    width: 0;
    background: black;
  }
  100% {
    width: 95%;
    background: black;
  }
}

/* .container {
  background-color: red;
  position: relative;
  width: 100px;
  height: 100px;
} */
