/* html,
body {
  /* background: black; */
/* height: 100%;
width: 100%; */
/* overflow-x: hidden;
  overflow-y: hidden; */
/* }  */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  left: 25vw;
  height: 50vh;
  width: 50vw;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid #b0b0b0;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  /* display: none; */
}

.message {
  color: #b0b0b0;
  font-size: 1em;
  margin-top: 40px;
  font-weight: bolder;
  /* display: none; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .phone,
  .message {
    display: block;
  }
}
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}
